@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(to right, #4d4d4d, #3a3a3a);
  /* background: #4d4d4d; */
  color: #333;
  line-height: 1.6;
}

.slide-in-left-enter {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.slide-in-left-exit {
  transform: translateX(0);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
